// *** priority-nav *** //
@mixin priority-nav() {
  position: relative;
  ul { 
    max-width: 100%;
    overflow-x: auto; 
    white-space: nowrap;
  }
  &.js-priority-nav ul { 
    display: inline-block;
    max-width: none;
    overflow-x: hidden; 
  }
  li {
    display: inline-block;
  }
  .js-nav-hidden {
    position: absolute;
    right: 0;
    top: 100%;
    > li { display: list-item; }
  }
  .js-nav-toggle {
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
  }
  .is-hidden { visibility: hidden; }
}

.priority-nav { @include priority-nav(); }