.priority-nav {
  position: relative;
}

.priority-nav ul {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.priority-nav.js-priority-nav ul {
  display: inline-block;
  max-width: none;
  overflow-x: hidden;
}

.priority-nav li {
  display: inline-block;
}

.priority-nav .js-nav-hidden {
  position: absolute;
  right: 0;
  top: 100%;
}

.priority-nav .js-nav-hidden > li {
  display: list-item;
}

.priority-nav .js-nav-toggle {
  position: absolute;
  right: 0;
  height: 100%;
  cursor: pointer;
}

.priority-nav .is-hidden {
  visibility: hidden;
}
